# Combine Socioeconomic factors by Zipcodes

<img src="imgs/austin-city.jpg" width = "500" align="center"/>

In [1]:
!mkdir -p raw_data
!mkdir -p clean_data
!rm -rf raw_data/ACS_Surveys_Austin.zip
!rm -rf raw_data/ACS_Surveys_Austin
!wget 'https://austin-311-data.s3.us-east-2.amazonaws.com/ACS_Surveys_Austin.zip' -P raw_data
!unzip raw_data/ACS_Surveys_Austin.zip -d raw_data/
!ls -lh raw_data/ACS_Surveys_Austin

--2019-07-31 01:27:40--  https://austin-311-data.s3.us-east-2.amazonaws.com/ACS_Surveys_Austin.zip
Resolving austin-311-data.s3.us-east-2.amazonaws.com (austin-311-data.s3.us-east-2.amazonaws.com)... 52.219.80.104
Connecting to austin-311-data.s3.us-east-2.amazonaws.com (austin-311-data.s3.us-east-2.amazonaws.com)|52.219.80.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 803596 (785K) [application/zip]
Saving to: ‘raw_data/ACS_Surveys_Austin.zip’

ACS_Surveys_Austin. 100%[===================>] 784.76K  2.87MB/s    in 0.3s

2019-07-31 01:27:41 (2.87 MB/s) - ‘raw_data/ACS_Surveys_Austin.zip’ saved [803596/803596]

Archive:  raw_data/ACS_Surveys_Austin.zip
   creating: raw_data/ACS_Surveys_Austin/
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78610.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78617.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78653.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78660.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78701_v2.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78702.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78703.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78704.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78705.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78721.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78722.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78723.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78724.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78725.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78726.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78727.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78728.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78729.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78730.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78731.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78732.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78733.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78734.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78735.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78736.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78737.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78738.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78739.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78741.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78742.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78744.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78745.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78746.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78747.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78748.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78749.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78750.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78751.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78752.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78753.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78754.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78756.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78757.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78758.xls
  inflating: raw_data/ACS_Surveys_Austin/ACS_Profile_78759.xls
total 3.0M
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78610.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78617.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78653.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78660.xls
-rw-r--r-- 1 turtle turtle 64K Jul 30 20:44 ACS_Profile_78701_v2.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78702.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78703.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78704.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78705.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:44 ACS_Profile_78721.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78722.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78723.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78724.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78725.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:44 ACS_Profile_78726.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78727.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78728.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78729.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78730.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78731.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78732.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78733.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78734.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78735.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78736.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78737.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78738.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78739.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78741.xls
-rw-r--r-- 1 turtle turtle 65K Jul 30 20:45 ACS_Profile_78742.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78744.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78745.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78746.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78747.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78748.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78749.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78750.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78751.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78752.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78753.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78754.xls
-rw-r--r-- 1 turtle turtle 66K Jul 30 20:45 ACS_Profile_78756.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78757.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78758.xls
-rw-r--r-- 1 turtle turtle 67K Jul 30 20:45 ACS_Profile_78759.xls

In [2]:
import os
import numpy as np
import pandas as pd
import xlrd

# Extract data from Excel Files

Before we merge we need to fetch files from the `City of Austin's` demographic page, let's fetch all pertinent data from the `2017 ACS Survey Profiles` `xlsx` files.

In [3]:
def parse_excel_files(file_path, columns_):
    """
    Returns parsed `.xls` Excel file as pandas data frame object
    which can be used for further data analysis.
    """
    df = pd.DataFrame(columns=columns_)
    files = os.listdir(file_path)
    for file in files:
        fpath = os.path.join(os.getcwd(), file_path, file)
        data_dict = get_socioeconomic_data(fpath, columns_)
        df = df.append(data_dict, ignore_index=True)
    return df
 
def get_socioeconomic_data(fpath, columns):
    """
    Returns data dictionary with parsed socio-economic data from 2017 ACS Surveys
    """
    wb = xlrd.open_workbook(fpath)
    for sheet_name in wb.sheet_names():
        sheet = wb.sheet_by_name(sheet_name)
        if sheet_name.strip().lower() == 'demographic':
            try:
                zipcode = sheet.cell_value(3, 1).split()[1]
            except:
                zipcode = np.NaN
            try:
                total_pop = sheet.cell_value(7, 1)
            except:
                total_pop = np.NaN
        elif sheet_name.strip().lower() == 'economic':
            try:
                total_hhld = sheet.cell_value(7, 1)
            except:
                total_hhld = np.NaN
            try:
                median_hhld_incm = sheet.cell_value(24, 1)
            except:
                median_hhld_incm = np.NaN

    data = {columns[0]:zipcode, columns[1]:total_pop, columns[2]:total_hhld, columns[3]:median_hhld_incm}
    return data
    
folder_path = 'raw_data/ACS_Surveys_Austin'
columns = ['Zipcode', 'Total population', 'Total household', 'Median household income']
zip_code_socio_economic_df = parse_excel_files(folder_path, columns)
zip_code_socio_economic_df

   Zipcode  Total population  Total household  Median household income
0    78724           24833.0           6360.0                  45158.0
1    78759           41847.0          20240.0                  76749.0
2    78745           62220.0          25857.0                  60567.0
3    78660           85450.0          28469.0                  81693.0
4    78730            8933.0           3678.0                 108750.0
5    78738           15746.0           5964.0                 123836.0
6    78739           20191.0           6367.0                 147736.0
7    78758           46618.0          19397.0                  50018.0
8    78741           52307.0          20758.0                  39049.0
9    78617           27900.0           6520.0                  52819.0
10   78750           30758.0          11713.0                  81061.0
11   78747           20954.0           6364.0                  79500.0
12   78727           28999.0          12937.0                  74458.0
13   78731           27447.0          12556.0                  89099.0
14   78753           58693.0          19947.0                  45983.0
15   78734           18722.0           7392.0                 107827.0
16   78705           33075.0           8370.0                  15309.0
17   78733            8754.0           2920.0                 136563.0
18   78610           32692.0          11243.0                  76623.0
19   78744           48432.0          14345.0                  47073.0
20   78756            8377.0           4246.0                  73578.0
21   78722            7254.0           3111.0                  69267.0
22   78725            7517.0           2544.0                  62172.0
23   78757           24059.0          10746.0                  65709.0
24   78748           49142.0          18820.0                  74176.0
25   78721           12447.0           4197.0                  41611.0
26   78736            8199.0           3023.0                 107467.0
27   78732           17762.0           5689.0                 142612.0
28   78749           37453.0          15215.0                  92313.0
29   78653           20822.0           6332.0                  66752.0
30   78742             517.0            218.0                  33182.0
31   78704           47158.0          23213.0                  66262.0
32   78728           21245.0          10029.0                  55603.0
33   78702           22876.0           8937.0                  54053.0
34   78754           23858.0           8009.0                  64114.0
35   78726           14610.0           5554.0                  88322.0
36   78701            7875.0           4855.0                 112201.0
37   78735           17919.0           7193.0                 102551.0
38   78729           29434.0          12622.0                  73047.0
39   78751           14949.0           7463.0                  54129.0
40   78752           20302.0           7932.0                  41486.0
41   78737           15879.0           5305.0                 127136.0
42   78723           33170.0          12518.0                  49606.0
43   78703           20788.0           9723.0                  98553.0
44   78746           28268.0          10848.0                 136138.0

### Save Socioeconomic data by Zipcodes

In [4]:
!rm -rf 'clean_data/socio_economic_by_zipcode.csv'
zip_code_socio_economic_df.to_csv('clean_data/socio_economic_by_zipcode.csv', index=False)

# Load Austin 311 calls clean data

In [5]:
austin_311_clean = pd.read_csv('https://austin-311-data.s3.us-east-2.amazonaws.com/clean_austin_311.csv')
austin_311_clean.head()

,Incident Type Code,Incident Description,Owning Department,Method Received,Incident Date,Zip Code,Latitude Coordinate,Longitude Coordinate,Incident Year,Incident Month,Incident Hour,Incident Weekday
0,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 12:01:46,78703,30.296699,-97.768264,2016,5,12,Friday
1,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 19:51:27,78745,30.212695,-97.801522,2016,5,19,Friday
2,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 20:22:56,78745,30.212695,-97.801522,2016,5,20,Friday
3,SWSDEADA,ARR Dead Animal Collection,Austin Resource Recovery,Phone,2016-12-15 06:41:40,78741,30.230164,-97.731776,2016,12,6,Thursday
4,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 17:03:45,78759,30.384989,-97.766471,2016,5,17,Friday

# Merge two dataframes

Before merging let's check if the data type on `key` column matches, or not, if not let's make it match.

In [6]:
zip_code_socio_economic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
Zipcode                    45 non-null object
Total population           45 non-null float64
Total household            45 non-null float64
Median household income    45 non-null float64
dtypes: float64(3), object(1)
memory usage: 1.5+ KB

In [7]:
austin_311_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714494 entries, 0 to 714493
Data columns (total 12 columns):
Incident Type Code      714494 non-null object
Incident Description    714494 non-null object
Owning Department       714494 non-null object
Method Received         714494 non-null object
Incident Date           714494 non-null object
Zip Code                714494 non-null int64
Latitude Coordinate     714494 non-null float64
Longitude Coordinate    714494 non-null float64
Incident Year           714494 non-null int64
Incident Month          714494 non-null int64
Incident Hour           714494 non-null int64
Incident Weekday        714494 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 65.4+ MB

Since it doesn't match, let's fix it,

In [8]:
zip_code_socio_economic_df['Zipcode'] = zip_code_socio_economic_df['Zipcode'].astype(int)
zip_code_socio_economic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
Zipcode                    45 non-null int64
Total population           45 non-null float64
Total household            45 non-null float64
Median household income    45 non-null float64
dtypes: float64(3), int64(1)
memory usage: 1.5 KB

Great!, it matches now.

In [9]:
combined_df = austin_311_clean.merge(zip_code_socio_economic_df, how='left', left_on='Zip Code', right_on='Zipcode')
combined_df = combined_df.drop(labels='Zipcode', axis=1)
combined_df.head()

,Incident Type Code,Incident Description,Owning Department,Method Received,Incident Date,Zip Code,Latitude Coordinate,Longitude Coordinate,Incident Year,Incident Month,Incident Hour,Incident Weekday,Total population,Total household,Median household income
0,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 12:01:46,78703,30.296699,-97.768264,2016,5,12,Friday,20788.0,9723.0,98553.0
1,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 19:51:27,78745,30.212695,-97.801522,2016,5,19,Friday,62220.0,25857.0,60567.0
2,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 20:22:56,78745,30.212695,-97.801522,2016,5,20,Friday,62220.0,25857.0,60567.0
3,SWSDEADA,ARR Dead Animal Collection,Austin Resource Recovery,Phone,2016-12-15 06:41:40,78741,30.230164,-97.731776,2016,12,6,Thursday,52307.0,20758.0,39049.0
4,TRASIGMA,Traffic Signal - Maintenance,Transportation,Phone,2016-05-06 17:03:45,78759,30.384989,-97.766471,2016,5,17,Friday,41847.0,20240.0,76749.0

## Check for Correct Datatype

In [10]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714494 entries, 0 to 714493
Data columns (total 15 columns):
Incident Type Code         714494 non-null object
Incident Description       714494 non-null object
Owning Department          714494 non-null object
Method Received            714494 non-null object
Incident Date              714494 non-null object
Zip Code                   714494 non-null int64
Latitude Coordinate        714494 non-null float64
Longitude Coordinate       714494 non-null float64
Incident Year              714494 non-null int64
Incident Month             714494 non-null int64
Incident Hour              714494 non-null int64
Incident Weekday           714494 non-null object
Total population           714494 non-null float64
Total household            714494 non-null float64
Median household income    714494 non-null float64
dtypes: float64(5), int64(4), object(6)
memory usage: 87.2+ MB

## Check for Null/NaN values, and any discrepancies

In [11]:
combined_df.isnull().sum()

Incident Type Code         0
Incident Description       0
Owning Department          0
Method Received            0
Incident Date              0
Zip Code                   0
Latitude Coordinate        0
Longitude Coordinate       0
Incident Year              0
Incident Month             0
Incident Hour              0
Incident Weekday           0
Total population           0
Total household            0
Median household income    0
dtype: int64

Awesome!, So our merge was sucessful, let's save the combined dataframe, for next step of exploratory visualizations.

In [12]:
!rm -rf 'clean_data/complete_austin_311.csv'
combined_df.to_csv('clean_data/complete_austin_311.csv', index=False)